.clear-button {
border-radius: 45px;
align-self: end;
font-size: 20px;
font-weight: 400;
margin: 29px 222px 0 0;
padding: 17px 30px;
border: 1px solid rgba(25, 26, 35, 1);
cursor: pointer;
}

.compras {
display: flex;
width: 1440px;
padding: 0px 100px;
align-items: flex-start;
gap: 40px;
margin-top: 150px;
}

.compras button {
margin-left: 1000px;
}  

.compras h1 {
border-radius: 7px;
background: var(--Laranja, #F56735);
display: flex;
padding: 0px 7px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.message-container {
display: flex;
width: 50%;
align-items: flex;
gap: 5px 800px;
justify-content: center;
flex-wrap: wrap;
}
  
.message-label {
line-height: 28px;
}
  
.character-count {
line-height: 28px;
}
  
.message-input {
border-radius: 14px;
background-color: #fff;
min-width: 240px;
min-height: 190px;
gap: 10px;
overflow: hidden;
font-size: 18px;
color: rgb(137, 137, 137);
flex-grow: 1;
width: 500px;
padding: 18px 30px;
border: 1px solid #000;
}

.continue-button {
border-radius: 45px;
background-color: rgba(245, 103, 53, 1);
align-self: center;
margin-top: 20px;
width: 200px;
max-width: 100%;
color: rgba(25, 26, 35, 1);
padding: 20px 20px;
font: 500 30px Space Grotesk, sans-serif;
cursor: pointer;
border: none;
transition: background-color 0.3s ease;
}
.continue-button:hover,
.continue-button:focus {
background-color: rgba(245, 103, 53, 0.9);
outline: none;
}
.continue-button:focus-visible {
box-shadow: 0 0 0 3px rgba(245, 103, 53, 0.5);
}

.resume {
max-width: 100%;
max-height: 100%;
width: 1012px;
height: 266px;
flex-shrink: 0;
border-radius: 45px;
border: 1px solid var(--Preto, #191A23);
background: #F3F3F3;
box-shadow: 0px 5px 0px 0px #191A23;
}